@using _072_HammadArshad_Task1.Models
@model Product
@{ 
    ViewBag.Title = "Add Product";
}

<div class="container py-3">
    <!--Add Products Section-->
    <section class="add-products py-3 my-2">
        <h2 class="text-center">Add Product</h2>
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <form id="addproductform" asp-action="AddProduct" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="product_name" class="form-text">Name</label>
                        <input asp-for="product_name" class="form-control">
                        <span asp-validation-for="product_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="product_price" class="form-text">Price</label>
                        <input asp-for="product_price" class="form-control">
                        <span asp-validation-for="product_price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-text" asp-for="image">Image</label>
                        <input class="form-control" asp-for="image" accept="image/*">
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-text" asp-for="CategoriesId">Category</label>
                        <select class="form-select" asp-for="CategoriesId" asp-items="@ViewBag.Categories">
                            <option value="@null" selected disabled>Select</option>
                        </select>
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="product_desciption" class="form-text">Description</label>
                        <textarea asp-for="product_desciption" class="form-control" cols="10" rows="5"></textarea>
                        <span asp-validation-for="product_desciption" class="text-danger"></span>
                    </div>
                    <div class="add-product">
                        <button class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
