@{
    ViewBag.Title = "HomePage";
}

<!--Slider Carousal-->
<section class="slider-portion">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/1_banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/2_banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/3_banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/4_banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/5_banner.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <i class="fas fa-arrow-circle-left fa-2x"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <i class="fas fa-arrow-circle-right fa-2x"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!--About ISM-->
<section class="about-ism">
    <div class="container">
        <div class="text-center">
            <h1>About ISM</h1>
        </div>
        <div class="row">
            <div class="col-md order-last order-md-first" data-aos="fade-up" data-aos-delay="100">
                <h3>Description</h3>
                <p>
                    ISM Surgical is a group of younger professionals engaged in the manufacturing and export of
                    Surgical, Dental and Beauty Care Instruments. ISM Surgical serving valued business colleagues all
                    over the world. Keeps continuous grip over the quality and service standards as we believe in the
                    best, therefore striving every moment to improve every aspect.
                    To achieve the goals we provide our honorable clients quality products delivery within stipulated
                    time limit ensured at any cost.
                    We assure you our best service at all time with top quality, best price and on time delivery.
                    Samples and prices can be obtained on demand.
                    Deliveries of the orders are ensured within time. Although this website doesnot cover all the range
                    of our products yet it assures you that we can make every type of Surgical Instruments, So we will
                    welcome your all inquiries, also for your required designs which have not been listed in this
                    website.
                    Thanking in advance for visiting our website.
                    Best Compliments From, ISM Surgical
                </p>
            </div>
            <div class="col-md align-self-center border-start order-md-last" data-aos="fade-down" data-aos-delay="200">
                <img src="images/about-image.png" alt="About Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!--Feature Products-->
<section class="feature-products" data-aos="fade-up" data-aos-delay="300">
    <div class="container">
        <div class="text-center">
            <h1>Popular Products</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 shadow-sm">
                <div class="product-image border border-2 text-center">
                    <img src="images/s1.jpg" alt="Products" class="img-fluid">
                </div>
                <p>Hair Cutting Scissor</p>
                <div class="view-details-btn">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-success">Visit Shop</a>
                </div>
            </div>
            <div class="col-md-2 shadow-sm">
                <div class="product-image border border-2 text-center">
                    <img src="images/s2.jpg" alt="Products" class="img-fluid">
                </div>
                <p>Pushers</p>
                <div class="view-details-btn">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-success">Visit Shop</a>                </div>
            </div>
            <div class="col-md-2 shadow-sm">
                <div class="product-image border border-2 text-center">
                    <img src="images/s3.jpg" alt="Products" class="img-fluid">
                </div>
                <p>Super Scissor</p>
                <div class="view-details-btn">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-success">Visit Shop</a>                </div>
            </div>
            <div class="col-md-2 shadow-sm">
                <div class="product-image border border-2 text-center">
                    <img src="images/s4.jpg" alt="Products" class="img-fluid">
                </div>
                <p>Buck</p>
                <div class="view-details-btn">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-success">Visit Shop</a>                </div>
            </div>
        </div>
    </div>
</section>

