* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: lightcoral;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lightcoral;
    border-radius: 30px;
}

.news {
    background-image: linear-gradient(45deg, #ffd0d2 0%, #fad0c4 99%, #fad0c4 100%);
    padding-top: 15px;
    padding-bottom: 1px;
    line-height: 1.2rem;
}

    .news p {
        font-size: 18px;
        font-weight: 500;
        padding: 0 !important;
    }

    .news .row .col-md p a {
        color: #4b4949;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        transition: 0.4s;
    }

@media only screen and (max-width: 576px) {
    .news .row .col-md p a {
        font-size: 9px !important;
    }
}

.news .row .col-md p a i {
    transition: 0.4s;
}

.news .row .col-md p a:hover {
    color: black;
}

    .news .row .col-md p a:hover i {
        color: #4b4949;
        font-weight: bold;
    }

.news .row .col-md:nth-child(2) {
    text-align: right;
}

.navbar {
    background-color: white !important;
}

.navbar-toggler {
    box-shadow: none !important;
    outline: none !important;
    border: 2px solid rgba(240, 128, 128, 0.5) !important;
}

.navbar .navbar-brand img {
    width: 80px;
    height: 50px;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 10px;
}

    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-weight: 500;
    }

        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: lightcoral;
        }

.navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
    display: block !important;
}

.navbar .navbar-collapse .navbar-nav .active {
    color: lightcoral;
}

.offcanvas {
    background: whitesmoke;
}

    .offcanvas .offcanvas-header {
        text-align: center !important;
    }

        .offcanvas .offcanvas-header a {
            text-decoration: none;
        }

            .offcanvas .offcanvas-header a .offcanvas-title {
                font-size: 30px;
                border-bottom: 2px solid lightcoral;
                padding: 3px 0;
                border-radius: 50%;
                font-weight: 600;
                font-family: "Times New Roman";
                color: black;
            }

                .offcanvas .offcanvas-header a .offcanvas-title .c_surgical {
                    color: lightcoral;
                }

    .offcanvas .offcanvas-body ul {
        padding: 0;
    }

        .offcanvas .offcanvas-body ul .nav-item {
            list-style: none;
            padding: 7px 0;
            border-bottom: 2px solid lightcoral;
            border-radius: 30%;
        }

        .offcanvas .offcanvas-body ul li {
            list-style: none;
        }

.login_link a {
    width: 100%;
    color: white;
    background-color: lightcoral !important;
    border: 2px solid lightcoral !important;
    transition: 0.4s;
    box-shadow: none !important;
}

    .login_link a:hover {
        background-color: white !important;
        color: lightcoral;
    }

@media only screen and (max-width:996px) {
    .login_link {
        text-align: center;
        margin: 15px 0;
    }
}

.offcanvas .offcanvas-body ul .nav-item a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);
    font-size: 17px;
    transition: 0.3s ease-in-out;
}

.offcanvas .offcanvas-body ul li a i {
    color: lightcoral;
    margin-right: 6px;
}

.offcanvas .offcanvas-body ul li a:hover {
    color: lightcoral;
}

.offcanvas .footer-canvas {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

    .offcanvas .footer-canvas p {
        font-size: 14px;
        font-weight: 600;
    }

        .offcanvas .footer-canvas p a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }

.about-ism {
    padding: 15px 0;
}

    .about-ism .text-center h1 {
        color: lightcoral;
        padding: 10px 0 5px 0;
        border-bottom: 2px solid lightcoral;
        border-radius: 80%;
        text-transform: uppercase;
    }

    .about-ism .row .col-md p {
        text-align: justify;
    }

.feature-products {
    padding: 20px 0;
}

    .feature-products .text-center h1 {
        color: lightcoral;
        padding: 10px 0 5px 0;
        border-bottom: 2px solid lightcoral;
        border-radius: 80%;
        text-transform: uppercase;
    }

    .feature-products .row .col-md-2 {
        margin: 10px 20px;
        transition: 0.4s;
        background-color: transparent;
        padding: 8px;
        border-radius: 8px;
    }

        .feature-products .row .col-md-2 p {
            text-align: center;
            font-size: 13px;
            padding: 3px 0;
            font-weight: 500;
        }

        .feature-products .row .col-md-2 .view-details-btn {
            text-align: center;
        }

            .feature-products .row .col-md-2 .view-details-btn a {
                padding: 5px 20px;
                border: 2px solid lightcoral !important;
                color: lightcoral;
                outline: none !important;
                box-shadow: none !important;
                transition: 0.4s;
            }

                .feature-products .row .col-md-2 .view-details-btn a:hover {
                    background-color: lightcoral;
                    color: white;
                }

        .feature-products .row .col-md-2 .product-image {
            overflow: hidden;
        }

            .feature-products .row .col-md-2 .product-image img {
                transition: 0.5s;
            }

                .feature-products .row .col-md-2 .product-image img:hover {
                    transform: scale(1.09);
                }

        .feature-products .row .col-md-2:hover {
            cursor: pointer;
            margin-top: 4px;
        }

.footer-p {
    background-color: #3B3B3B;
    padding: 20px 0 0 0;
}

    .footer-p .row .col-md-3 {
        padding: 20px 0 0 10px;
    }

        .footer-p .row .col-md-3 h4 {
            font-weight: 500;
            text-transform: uppercase;
            color: whitesmoke;
            font-size: 18px;
        }

        .footer-p .row .col-md-3 ul {
            padding: 0;
        }

            .footer-p .row .col-md-3 ul li {
                list-style: none;
                padding: 5px 0;
            }

                .footer-p .row .col-md-3 ul li a {
                    color: #d0caca;
                    text-decoration: none;
                    font-size: 14px;
                }

                    .footer-p .row .col-md-3 ul li a:hover {
                        color: white;
                    }

                    .footer-p .row .col-md-3 ul li a i {
                        color: lightcoral;
                    }

    .footer-p .copyright-portion {
        padding: 10px 0;
    }

        .footer-p .copyright-portion p {
            color: whitesmoke;
            border-top: 2px solid lightcoral;
            padding: 8px 0;
            border-bottom: 2px solid lightcoral;
            border-radius: 20%;
        }

.contact-us {
    padding: 15px 0;
    user-select: none;
}

    .contact-us .form-heading {
        text-align: center;
    }

        .contact-us .form-heading h1 {
            color: lightcoral;
            border-bottom: 2px solid lightcoral;
            border-radius: 50%;
            padding: 6px 0;
            text-transform: uppercase;
        }

    .contact-us .row .col-md form .form-text {
        padding: 5px 0;
    }

    .contact-us .row .col-md form label {
        font-size: 14px;
        font-weight: 500;
    }

    .contact-us .row .col-md form input:focus, .contact-us .row .col-md form select:focus {
        border-color: lightcoral !important;
        box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
    }

    .contact-us .row .col-md form input[type=checkbox] {
        border-color: lightcoral;
    }

        .contact-us .row .col-md form input[type=checkbox]:checked {
            box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
            background-color: lightcoral;
            color: white;
        }

    .contact-us .row .col-md form .gender-section {
        padding: 10px 0;
    }

        .contact-us .row .col-md form .gender-section .row .col-2 {
            margin-right: 5px;
        }

            .contact-us .row .col-md form .gender-section .row .col-2 .btn {
                box-shadow: none !important;
                width: 80px;
            }

@media only screen and (max-width: 576px) {
    .contact-us .row .col-md form .gender-section .row .col-2 {
        margin-right: 25px !important;
    }
}

.contact-us .row .col-md form .submit-btn {
    padding: 10px 0;
    margin: 5px 0;
}

    .contact-us .row .col-md form .submit-btn button {
        width: 100%;
        color: white;
        background-color: lightcoral !important;
        border: 2px solid lightcoral;
        transition: 0.4s;
        box-shadow: none !important;
    }

        .contact-us .row .col-md form .submit-btn button:hover {
            background-color: white !important;
            color: lightcoral;
        }

.form-card {
    text-align: center;
    margin: 0 auto;
    border: 1px solid lightgray;
    max-width: 300px;
    border-radius: 8px;
    padding: 20px 0;
}

    .form-card .image-portion img {
        width: 200px;
    }

    .form-card .details-portion a {
        background-color: white !important;
        color: lightcoral;
        border-color: lightcoral !important;
        transition: 0.4s;
        width: 100px;
    }

        .form-card .details-portion a:hover {
            background-color: lightcoral !important;
            color: white;
            box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        }

.main-content {
    display: none;
}

.loader {
    background: #4b4949;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

    .loader .circle {
        width: 60px;
        height: 60px;
        border: 10px solid white;
        border-radius: 10%;
        border-top-color: lightcoral;
        border-bottom-color: lightcoral;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: circle-rot 2s linear infinite;
    }

@keyframes circle-rot {
    100% {
        transform: rotate(360deg);
    }
}

.update-form-btn button {
    background-color: white !important;
    color: lightcoral;
    border-color: lightcoral !important;
    transition: 0.4s;
    width: 100%;
}

    .update-form-btn button:hover {
        background-color: lightcoral !important;
        color: white;
        box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
    }

.update-contact form input:focus, .update-contact form select:focus {
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}

.field-validation-error {
    color: red !important;
}

.update-contact form input[type=checkbox] {
    border-color: lightcoral;
}

    .update-contact form input[type=checkbox]:checked {
        box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        background-color: lightcoral;
        color: white;
    }

.update-contact form .gender-section {
    padding: 10px 0;
}

    .update-contact form .gender-section .row .col-2 {
        margin-right: 5px;
    }

        .update-contact form .gender-section .row .col-2 .btn {
            box-shadow: none !important;
            width: 80px;
        }

@media only screen and (max-width: 576px) {
    .update-contact form .gender-section .row .col-2 {
        margin-right: 25px !important;
    }
}

.add-products form .add-product {
    margin: 10px 0;
}

    .add-products form .add-product button {
        background-color: white !important;
        color: lightcoral;
        border-color: lightcoral !important;
        transition: 0.4s;
        width: 100%;
    }

        .add-products form .add-product button:hover {
            background-color: lightcoral !important;
            color: white;
            box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        }

.add-products form input:focus, .add-products form textarea:focus, .add-products form select:focus {
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}

@media only screen and (max-width: 576px) {
    .add-products form .gender-section .row .col-2 {
        margin-right: 25px !important;
    }
}


.product .row .col-md-4 {
    overflow: hidden;
    margin: 10px 25px;
    border-radius: 5px !important;
    padding: 10px 0;
}

    .product .row .col-md-4 img {
        height: 200px;
        transition: 0.3s;
    }

        .product .row .col-md-4 img:hover {
            transform: scale(1.09);
        }

    .product .row .col-md-4 p {
        text-transform: uppercase;
        font-size: 12px;
    }

        .product .row .col-md-4 p .product-price {
            font-weight: bold;
            color: #e72525;
            font-size: 16px;
        }

    .product .row .col-md-4 a {
        margin: 0 0 5px 0;
        padding: 5px 15px;
        outline: none !important;
        box-shadow: none !important;
        border-color: #e72525 !important;
    }

        .product .row .col-md-4 a:hover {
            background-color: white;
            color: #e72525;
        }



.Register-form form .register-btn {
    margin: 10px 0;
}

    .Register-form form .register-btn button {
        background-color: white !important;
        color: lightcoral;
        border-color: lightcoral !important;
        transition: 0.4s;
        width: 100%;
    }

        .Register-form form .register-btn button:hover {
            background-color: lightcoral !important;
            color: white;
            box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        }

.Register-form form input:focus, .add-products form textarea:focus {
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}


.Login_form form .login-btn {
    margin: 10px 0;
}

    .Login_form form .login-btn button {
        background-color: white !important;
        color: lightcoral;
        border-color: lightcoral !important;
        transition: 0.4s;
        width: 100%;
        box-shadow: none !important;
    }

        .Login_form form .login-btn button:hover {
            background-color: lightcoral !important;
            color: white; 
        }

.Login_form form input:focus, .add-products form textarea:focus {
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}


.Login_form form input[type=checkbox] {
    border-color: lightcoral;
}

    .Login_form form input[type=checkbox]:checked {
        box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        background-color: lightcoral;
    }


.shop-now {
    padding: 15px 0;
    margin: 10px 0;
}

    .shop-now .row .col-md-4 {
        text-align: center;
    }

    .shop-now .row .col-md-6 {
        text-align: center;
        padding: 17px;
    }

        .shop-now .row .col-md-6 p {
            text-align: justify;
        }

        .shop-now .row .col-md-6 .Add-cart {
            margin: 5px 0;
            padding: 10px 0;
        }

            .shop-now .row .col-md-6 .Add-cart button {
                background-color: lightcoral !important;
                color: white;
                border-color: lightcoral !important;
                transition: 0.4s;
                width: 100%;
            }

                .shop-now .row .col-md-6 .Add-cart button:hover {
                    background-color: white !important;
                    color: lightcoral;
                    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
                }


.to-top {
    padding: 8px 14px;
    background-color: lightcoral;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 25px;
    border-radius: 50%;
    border: 1px solid lightcoral;
    transition: 0.3s;
    display: none;
}

    .to-top:hover {
        background-color: white;
        color: lightcoral;
    }


.search-section .row .col-12 form input:focus{
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}
.search-section .row .col-6{
    margin:10px 0
}
    .search-section .row .col-6 a {
        background-color: white !important;
        color: lightcoral;
        border-color: lightcoral !important;
        transition: 0.4s;
        width: 100%;
    }
        .search-section .row .col-6 a:hover {
            background-color: lightcoral !important;
            color: white;
            box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
        }

.category .text-center img {
    height: 200px;
}
.category form {
    margin: 10px 0;
}
    .category form .add-category{
        margin:15px 0;
    }
        .category form .add-category button {
            background-color: white !important;
            color: lightcoral;
            border-color: lightcoral !important;
            transition: 0.4s;
            width: 100%;
            box-shadow: none !important;
        }

        .category form .add-category button:hover {
            background-color: lightcoral !important;
            color: white;
            
        }

.category form input:focus {
    border-color: lightcoral !important;
    box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}